module Frost
  # :nodoc:
  VIEWS_PATH = "#{ __DIR__ }/../app/views"

  self.root = File.expand_path("../..", PROGRAM_NAME)
  self.environment = ENV.fetch("FROST_ENV", "development")

  module Config
    case Frost.environment
    when "development", "test"
      self.secret_key = ENV.fetch("SECRET_KEY", <%= SecureRandom.hex(32).inspect %>)
    else
      self.secret_key = ENV["SECRET_KEY"]
    end
  end
end
