require "trail/routing/mapper"

module Trail::Routing::Mapper
  # resources :posts do
  #   resources :comments, only: %(new create destroy)
  #
  #   collection do
  #     get :search
  #   end
  # end
  #
  # resource :user
  #
  # get "/", "pages#landing", as: "root"
end
