ENV["TRAIL_ENV"] ||= "test"

require "../config/bootstrap"
require "trail/minitest"

class Minitest::Test
  fixtures "#{ __DIR__ }/fixtures"
end

#class ApplicationController
#  def session_store
#    Trail::Controller::Session::TestStore
#  end
#end
