ENV["FROST_ENV"] ||= "test"

require "../config/bootstrap"
require "frost/minitest"

class Minitest::Test
  fixtures "#{ __DIR__ }/fixtures"
end

class Frost::Controller::Test
  def dispatcher
    @dispatcher ||= <%= name.camelcase %>::Dispatcher.new
  end
end

#class ApplicationController
#  def session_store
#    Frost::Controller::Session::TestStore
#  end
#end
